.photo{
    width: 75px;
    height: 75px;
    float: left;
    margin: 5px;
}

.post{
    border:solid white;
    margin-bottom: 10px;
    width: 80%;
    float: left;
    color: white;
    border-radius: 10px;
    background:black;
}

.container{
    max-width: 900px;
}

#nameInput{
    margin-bottom: 10px;
    color: white;
}

#messageInput{
    color:white;
}

body{
    color: white;
}

button{
    color:black;
}

#textarea{
    color:black;
}

#inputField {
    color:black;
}

#delete {
    color:white;
}

#update {
    color:white;
}

#tit{
    color:white;
}

#com {
    color:white;
}

#home{
  color:black;  
}

#doc{
    border:solid white;
    color:white;
     border-radius: 10px;
    background:black;
    padding:2px;
}