.photo{
    width: 75px;
    height: 75px;
    float: left;
    margin: 5px;
}

.post{
    border:solid white;
    margin-bottom: 10px;
    width: 80%;
    float: left;
    color: white;
    border-radius: 10px;
}

.container{
    max-width: 900px;
}

#nameInput{
    margin-bottom: 10px;
    color: white;
}

#messageInput{
    color:white;
}

body{
    color: white;
}

button{
    color:black;
}

#textarea{
    color:black;
}