.photo{
    width: 75px;
    height: 75px;
    float: left;
    margin: 5px;
}

.post{
    border:solid black;
    margin-bottom: 10px;
    width: 80%;
    float: left;
}

.container{
    max-width: 900px;
}